@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
	background-color: gainsboro;
	margin: 0;
}

h1 {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.paper {
	font-family: "Patrick Hand", cursive;
	position: relative;
	line-height: 25px;
	box-sizing: content-box;
	width: 425px;
	height: 550px;
	background-color: white;
	margin: 0 auto;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s, margin 0.3s;
	}

	.holes {
		position: absolute;
		height: 100%;
		width: 48px;
		margin-top: 1px;
		margin-bottom: 1px;
		top: 0;
		left: 0;
	}

[contenteditable] {
	border: 0;
	outline: 0;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.8em;
	}
	.paper {
		margin-top: -55px;
		-webkit-transform: scale(0.8);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.8);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 1.5em;
	}
	.paper {
		margin-top: -82.5px;
		-webkit-transform: scale(0.7);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.7);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 600px) {
	body {
		overflow: hidden;
	}
	.paper {
		margin-top: -110px;
		-webkit-transform: scale(0.6);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.6);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 450px) {
	body {
		overflow: hidden;
	}
	.paper {
		margin-top: -137.5px;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 50% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 50% 50%;
		transform: scale(0.5);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-width: 430px) {
	h1 {
		text-align: left;
		font-size: 1.3em;
		margin-left: 12px;
	}
	.paper {
		margin: 0;
		margin-left: 12px;
		margin-top: -110px;
		-webkit-transform: scale(0.6);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 0% 50%;
		transform: scale(0.6);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 375px) {
	body {
		overflow: hidden;
	}
	h1 {
		text-align: left;
		font-size: 1.3em;
		margin-left: 12px;
	}
	.paper {
		margin: 0;
		margin-left: 12px;
		margin-top: -165px;
		-webkit-transform: scale(0.4);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 0% 50%;
		transform: scale(0.4);
		transition: transform 0.3s, margin 0.3s;
	}
}

@media only screen and (max-height: 300px) {
	body {
		overflow: hidden;
	}
	h1 {
		text-align: left;
		font-size: 1.3em;
		margin-left: 12px;
	}
	.paper {
		margin: 0;
		margin-left: 12px;
		margin-top: -192.5px;
		-webkit-transform: scale(0.3);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: 0.3s;
		transform-origin: 0% 50%;
		transform: scale(0.3);
		transition: transform 0.3s, margin 0.3s;
	}
}
